body {
    background-color:#745A7B;
    width:100%;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}
#container {
    padding: 10px 10px;
    width:600px;
    background-color:#ab87b4;
    border-radius:9px;
    top:250px;
    margin: auto;
}
.output {
    width:400px;
    height:100px;
    padding:20px;
    border:3px solid #745A7B;
    border-radius:9px;
    text-align:center;
    font-weight:bold;
    vertical-align:middle;
    margin: auto;
}
#contributors {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background-color: #ab87b4;
    border:3px solid #745A7B;
    border-radius: 9px;
    padding:10px;
}
.calc td, th {
    width:50%;
    display: table-cell;
}
a:link, a:visited, a:hover, a:active {
    color:#ab87b4;
}
